html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #0093e9;
  background-image: linear-gradient(100deg, #0093e9 0%, #80d0c7 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
.div {
  padding: 10px;
}
.form {
}
.form__item {
  display: block;
  width: 100vh;
}
.sport__radio {
  margin: 15px;
}
.colors__item {
  display: inline;
  padding: 15px;
}
